<div class = "home-board">
    <article class = "match-buttons">
        <button id = "computer-button">Play Vs. Computer</button>
        <button id = "player-button">Play Vs. Player</button>
    </article>
</div>