<div class = "home-board">
    <article class = "match-buttons">
        <a href = "/gameboard"><button id = "computer-button">Play Vs. Computer</button></a>
        <button id = "player-button">Play Vs. Player</button>
    </article>
</div>