<main id = "leaderboard-box">
    <h1>
        Placeholder
    </h1>
    <div id = "rank-heading">
        <h3>Rank</h3>
        <h3>Name</h3>
        <h3>Wins</h3>
    </div>
    {{#each leaders}}
    <p>{{@index}}</p>
    <p>{{this.username}}</p>
    <p>{{this.wins}}</p>
    {{/each}}
</main>